@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    box-sizing: border-box;

    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
   

    display: flex;

    flex-direction: column;

    font-family: "Roboto", sans-serif;

    font-size: 16px;

    height: 100%;

    line-height: 1.2;
}

.container {
    align-items: center;

    display: flex;

    height: 100%;

    justify-content: center;

    width: 100%;
}

.container {
    align-items: center;

    display: flex;

    height: 100%;

    justify-content: center;

    width: 100%;
}
.desc__title {
    color: rgb(139, 90, 90);

    font-size: 2em;

    margin-bottom: 15px;

    text-align: center;
}

.desc__subtitle {
    color: #6c757d;
}

.filed__form__label {
    color: #6c757d;

    margin-right: 10px;
}

.field__form__input {
    border: 1px solid #ccc;

    margin-right: 10px;

    padding: 10px;

    width: 150px;
}
.start {
    border: 1px solid #ccc;

    padding: 10px;
}

.field__form__btn {
    border: 1px solid #ccc;

    padding: 10px;
}
.result__check {
    color: rgb(134, 96, 25);
}

.result__help {
    color: rgb(139, 90, 90);
}
.result__count {
    color: rgb(139, 90, 90);
}

.los {
    color: rgb(11, 104, 211);
    margin-left: 100px;
}
